.section-about {
  padding-bottom: 94px;
}
.section-about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.about-list {
  display: flex;
}

.about-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.description-img {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: var(--primary-background-color-description-img);
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
