.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;

    .header & {
      display: flex;
      align-items: center;
    }

    .my-work & {
      padding-top: 94px;
      padding-bottom: 94px;
    }
    footer & {
      display: flex;
      align-items: baseline;
    }
  }
}
