:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-icon-color: #afb1b8;
  --background-icon-footer-color: rgba(255, 255, 255, 0.1);
  --primary-footer-head-color: #2f303a;
  --primary-team-color: #f5f4fa;
  --primary-black-color: #000000;
  --primary-white-color: #ffffff;
  --hover-color-btn: #188ce8;
  --primary-backgroun-color-team: #f5f4fa;
  --primary-white-transparent: rgba(255, 255, 255, 0.6);
  --primary-background-color-description-img: rgba(47, 48, 58, 0.8);
  --primary-backdrop-color: rgba(0, 0, 0, 0.2);
}
